*{
    direction: rtl;
    text-align: right;
}
body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 4px;
    cursor: pointer !important;
    background-color: whitesmoke !important;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grery;*/
    /*border-radius: 10px;*/
    cursor: pointer !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a9a9a9;
    border-radius: 10px;
    cursor: pointer !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgray;
    cursor: pointer !important;

}
