
body{
    direction: rtl !important;
    text-align: right !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 4px;
    cursor: pointer !important;
    background-color: transparent !important;
}

/* Track */
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 5px grery;*/
    /*border-radius: 10px;*/
    cursor: pointer !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(218, 218, 218, 0.44);
    border-radius: 10px;
    cursor: pointer !important;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(206, 206, 206, 0.45);
    cursor: pointer !important;

}

.btn-primary{
    background-color: hotpink;
    border-color: hotpink;
}
.btn-primary{
    background-color: hotpink;
    border-color: hotpink;
}